body {
    background-color: #524d5f;
}

.container {
    display: grid;
    justify-content: center;
    gap: 30px;
}

.container > h1 {
    text-align: center;
}

#playersContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 30px;
}

.gameGrid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
}

.gameCell {
    background-color: grey;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}