@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-VariableFont_wdth,wght.ttf');
}

:root {
    --primary-color: #211832;
    --secondary-color: #412B6B;
    --terciary-color: #5C3E94;
    --details-color: #F25912;
    --red-color: #f90707;
    --green-color: #0acf0a;
}

body {
    background-color: var(--primary-color);
    color: var(--details-color);
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.red {
    color: var(--red-color);
}

.green {
    color: var(--green-color);
}

button:hover {
    cursor: pointer;
}

button:disabled:hover{
    cursor: default;
}

.container {
    display: grid;
    justify-content: center;
    gap: 30px;
}

.container > h1 {
    text-align: center;
    font-size: 5em;
}

.gameButtons {
    display: grid;
    grid-template-columns: repeat(2, 170px);
    justify-content: center;
    gap: 50px;
}

.gameButtons > button {
    width: 170px;
    background-color: var(--terciary-color);
    color: var(--details-color);
    font-weight: 600;
    padding: 15px 50px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid var(--secondary-color);
    box-shadow: 0 0 5px var(--terciary-color);
    font-size: 1.2em;
}

#btn-play {
    color: var(--green-color);
}

#btn-reset {
    color: var(--red-color);
}

#playersContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 30px;
    font-weight: 600;
}

.playerNameInput {
    background-color: var(--terciary-color);
    border-radius: 5px;
    height: 30px;
    font-size: 1.2em;
    color: var(--details-color);
    padding: 5px;
    border: 2px solid var(--secondary-color);
}

.playerNameInput:focus {
    border-color: var(--details-color);
    outline: 0;
}

.playerNameInput:read-only:focus {
    border-color: var(--secondary-color);
}

.gameGrid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
}

.gameCell {
    background-color: var(--secondary-color);
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid var(--secondary-color);
    box-shadow: 0 0 5px var(--terciary-color);
    font-size: 4em;
}

.activeGameCell {
    /* border-color: var(--details-color); */
    box-shadow: 0 0 5px var(--details-color);
}

.activeGameCell:hover {
    box-shadow: 0 0 10px var(--details-color);
}

.playerXCell {
    color: #16d516;
}

.playerOCell {
    color: #fc0707;
}