@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-VariableFont_wdth,wght.ttf');
}

:root {
    --primary-color: #211832;
    --secondary-color: #412B6B;
    --terciary-color: #5C3E94;
    --details-color: #F25912;
}

body {
    background-color: var(--primary-color);
    color: var(--details-color);
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.container {
    display: grid;
    justify-content: center;
    gap: 30px;
}

.container > h1 {
    text-align: center;
    font-size: 5em;
}

.gameButtons {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    justify-content: center;
    gap: 50px;
}

.gameButtons > button {
    width: 150px;
    background-color: var(--terciary-color);
    color: var(--details-color);
    font-weight: 600;
    padding: 15px 50px;
    text-align: center;
    border-radius: 10px;
    border: 0;
    box-shadow: 2px 2px 10px var(--terciary-color);
    font-size: 1.2em;
}

#btn-play {
    color: rgb(10, 207, 10);
}

#btn-reset {
    color: rgb(249, 7, 7);
}


#playersContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 30px;
    font-weight: 600;
}

.playerNameInput {
    background-color: var(--terciary-color);
    border-radius: 5px;
    height: 30px;
    font-size: 1.2em;
    color: var(--details-color);
    padding: 5px;;
}

.gameGrid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
}

.gameCell {
    background-color: var(--secondary-color);
    width: 100px;
    height: 100px;
    border-radius: 10px;
}